html{
	background:#f7f5f5 url(../images/bg.gif) repeat
}
body {
	font-family: "helvetica neue",arial,sans-serif;
	font-size: 13px;
	color: #444;
	display: block;
}
a {
	color: #221919;
	text-decoration: none;
	outline: 0;
}
a:hover {
	color: #CB2027;
	text-decoration: underline;
}
a.img img {
	display: block;
	margin: 0 auto;
}
p {
	margin: 0 0 .8em;
	line-height: 1.35em;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	height: 38px;
	z-index: 999;
	background: url(../images/header_bg.png) repeat-x;
	border-bottom: 1px solid #E0DEDE;
}
.header .wrapper {
	width: 90%;
	height: 38px;
	margin: 0 auto;
	border: 0;
	position: relative;
}
.header .wrapper .logo{
	vertical-align:middle;
	width:80px;
}
#huaban img{
	margin-top: 6px;
	border:0px;
}

.header .wrapper .menu_main{
	position: absolute;
	left: 100px;
	top: 0;
	height: 38px;
}
.header .wrapper .menu_main .nav{
	display: inline-block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #F2F0F0;
	border-width: 0 1px;
	font-size: 14px;
	position: relative;
	margin-right: -1px;
}
.header .wrapper .menu_main .nav .link {
	padding: 11px 17px;
	text-decoration: none;
}
.header .wrapper .menu_main .nav .link:hover {
	background: none repeat scroll 0 0 #E0DEDE;
	color: #CB2027;
	text-decoration: none;
}
.header .wrapper .menu_bar {
	padding-top: 6px;
	position: absolute;
	right: 0;
	top: 0;
}
#search {
    float: left;
    margin: 0 10px;
}
#search input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFAFA;
    border-color: #C2C0C0 #CCCACA #D1CFCF;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px #FFFFFF, 0 1px rgba(34, 25, 25, 0.05) inset;
    float: left;
    font-size: 13px;
    height: 16px;
    padding: 4px;
    width: 105px;
}
#search input:focus {
    background-color: #FFFFFF;
    box-shadow: 0 1px #FFFFFF, 0 1px rgba(34, 25, 25, 0.1) inset;
}
#search a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/sprite_nav.png") no-repeat scroll -26px 3px transparent;
    border-color: #C2C0C0 #CCCACA #D1CFCF;
    border-radius: 0 4px 4px 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.9), 0 0 2px rgba(255, 255, 255, 0.75) inset;
    display: block;
    float: left;
    height: 24px;
    margin-left: -1px;
    width: 25px;
}
#search a:active {
    background-position: -26px -26px;
    box-shadow: 0 1px 1px rgba(34, 29, 29, 0.15) inset;
}
.pin,.Board {
	position: absolute;
	width: 192px;
	padding: 15px 15px 0;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3)
}
.wfc {
	position: absolute;
	left: -200px;
	top: 1000px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out
}
.waterfall {
	margin: 10px auto 0;
}
.waterfall .ks-waterfall {
        position: absolute;
        width: 192px;
        overflow: hidden;
        padding: 15px;
        /*border: 2px solid #ddd;*/
        margin-bottom: 20px;
        text-align: center;
        left:-9999px;
        top:-9999px;
}
.waterfall .wfc {
	width: 192px;
	padding: 15px 15px 0;
	font-size: 12px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.waterfall .ks-waterfall .description {
	display: block;
	margin: 10px 0 5px;
	line-height: 1.35em;
	overflow: hidden;
	word-wrap: break-word;
}
.waterfall .ks-waterfall .convo {
	margin: 0 -15px;
	padding: 10px 15px;
	background: #FAFAFA;
}
.waterfall .ks-waterfall .convo a.img img {
	width: 30px;
	height: 30px;
}
.waterfall .ks-waterfall .attribution {
	margin-top: 10px;
	color: #999;
	border-top: 1px solid #F5F2F2;
	background: #FAFAFA;
	position: relative;
}
.waterfall .ks-waterfall .attribution p{
	display: table-cell;
	max-width: 190px;
	height: 30px;
	vertical-align: middle;
}
.waterfall .ks-waterfall .convo a.img {
	float: left;
	margin-right: 6px;
	width: 30px;
}.waterfall .ks-waterfall .attribution a {
	color: #444;
}
#elevator.off {
	bottom: -100px;
	-moz-transition-duration: 250ms;
	-webkit-transition-duration: 250ms
}
#elevator {
	right: 15px;
	bottom: -10px;
	width: 40px;
	padding: 20px 10px 30px;
	-moz-transition: bottom 250ms ease-in-out;
	-webkit-transition: bottom 250ms ease-in-out;
}
.btn.Indicator {
	position: fixed;
	z-index: 4;
	display: block;
	text-align: center;
	font-size: 15px;
	border-width: 0;
	box-shadow: 0 0 white;
	-moz-box-shadow: 0 0 #fff;
	-webkit-box-shadow: 0 0 white;
}
.btn.Indicator span {
    border-width: 0;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
    background:-webkit-gradient(linear,0% 0,0% 100%,from( #FDFCFC),to( #F2F0F0),color-stop(.5, #FBF9F9),color-stop(.5, #F7F5F6));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0');
}
.btn {
	position: relative;
	display: inline-block;
	padding: .45em .825em .45em;
	text-align: center;
	line-height: 1em;
	border: 1px solid transparent;
	border-radius: .2em;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-transition-property: color,-moz-box-shadow,text-shadow;
	-moz-transition-duration: .05s;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-property: color,-webkit-box-shadow,text-shadow;
	-webkit-transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	box-shadow: 0 1px rgba(255,255,255,.8),inset 0 1px rgba(255,255,255,.35);
	-moz-box-shadow: 0 1px rgba(255,255,255,.8),inset 0 1px rgba(255,255,255,.35);
	-webkit-box-shadow: 0 1px rgba(255,255,255,.8),inset 0 1px rgba(255,255,255,.35);
	cursor: pointer
}
.btn:hover {
    text-decoration: none;
}
.btn:hover span {
	-moz-transition-property: opacity;
	-moz-transition-duration: .05s;
	-moz-transition-timing-function: linear;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .05s;
	-webkit-transition-timing-function: linear
}
.btn span {
    -moz-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease-in-out;
    border: 1px solid;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    bottom: -1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.35) inset;
    display: block;
    left: -1px;
    opacity: 1;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1;
}
.wbtn {
    color: #524D4D;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}
.wbtn span {
	border-color: #bbb;
	background-color: #f0eded;
	background: -moz-linear-gradient(center top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
	background: -o-linear-gradient(top left, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
	background: -webkit-gradient(linear,0% 0,0% 100%,from( #fdfafb),to( #f0eded),color-stop(.5, #f9f7f7),color-stop(.5, #f6f3f4));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded')
}
.wbtn:hover {
    color: #666060;
    text-shadow: 0 1px #FFFFFF;
}
.wbtn:hover span {
	border-color: #c3c3c3;
	background-color: #f2f0f0;
	background: -moz-linear-gradient(center top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
	background: -o-linear-gradient(top left, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
	background: -webkit-gradient(linear,0% 0,0% 100%,from( #fdfcfc),to( #f2f0f0),color-stop(.5, #fbf9f9),color-stop(.5, #f7f5f6));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0')
}
.btn strong {
	position: relative;
	z-index: 2;
	line-height: 15px
}
.loading {
	display: none;
	margin-bottom: 15px;
	padding: 15px 0;
	text-align: center;
	font-weight: 700;
	border: double 
	rgba(34, 25, 25, .14);
	border-width: 3px 0 0 0;
}
.loading img {
	display: inline-block;
	margin-right: 6px;
	border:0px;
}
.loading span {
	font-size: 1.6em;
}

.wfx {
	position: relative;
	width: 852px;
	margin: 0 auto;
}
.wfx .CloseLeft{
	position: absolute;
	top: 15px;
	left: 50%;
	width: 222px;
	margin-left: -425px;
}
.Board {
	position: static;
	width: 222px!important;
	padding: 0!important;
}
.Board h3 {
	padding: 9px 0 0 15px;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 45px;
}
.Board .link {
	display: block;
	height: 200px;
	background: url(../images/BoardBackground.png) 15px 9px no-repeat;
	padding: 9px 0 0 15px;
	overflow: hidden;
}
.Board .link img {
	float: left;
	width: 61px;
	height: 61px;
	margin: 0 4px 4px 0;
}
.wfx .CloseLeft .Board {
	margin: 0 0 15px;
}
.CloseLeft .DomainPins {
	position: static;
	margin: 0 0 15px;
	float: left;
}
.Board.DomainPins .link {
	height: auto;
	margin-bottom: 8px;
}
.less {
	color: #8C7E7E;
}
.CloseRight {
	float: right;
	width: 614px;
	margin-top: 15px;
}
.CloseRight .wt {
	margin-top: 0;
	padding: 0;
}
.wt {
	position: relative;
	margin: 76px auto 32px;
	padding: 0 18px 10px;
	background-color: 
	white;
	box-shadow: 0 1px 3px 
	rgba(34, 25, 25, .4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,.4);
	-webkit-box-shadow: 0 1px 3px 
	rgba(34, 25, 25, .4);
}
#PinPinner {
	padding: 20px 30px;
	border-bottom: 1px solid 
	#D1CDCD;
	overflow: hidden;
}
#PinPinner #PinnerImage {
	float: left;
	margin-right: 9px;
	width: 50px;
}
#PinPinner #PinnerImage img {
	display: block;
	width: 50px;
	height: 50px;
}
#PinPinner #PinnerName {
	font-size: 23px;
	line-height: 1em;
	margin-bottom: 2px;
}
#PinPinner #PinnerName a {
	color: #211922;
	text-decoration: none;
}
#PinnerStats {
	display: block;
	margin: 5px 0 0;
	padding-left: 60px;
}
.less a {
	color:#333;
}
.pin-img {
	position: relative;
	margin: 20px 30px 30px;
	overflow: hidden;
	text-align: center;
}
.pin-img img {
	display: block;
	max-width: 554px;
	margin: 0 auto;
}
.pin-caption {
	padding: 0 30px 30px;
	line-height: 1.5em;
	border-bottom-width: 0;
}
.pin-caption .text {
	font-size: 14px;
	word-wrap: break-word;
}
.pin-caption .via {
	display: block;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 16px;
}
